* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling that will be applied to the whole body element*/

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #414141;
    width: 100%;

}

header {
    /*padding: 9px 35px;*/
    background-color: #ada097;
   /* display: flex; */
    /*justify-content: space-between;*/
   /* flex-wrap: wrap; */
    /*align-items: center;*/
    border-bottom: solid white;
    top: 0;
    position: sticky;
    opacity: 0.9;
    z-index: 9999;
    
}


/* styling for the link in the h1 title, Julian Floyd */

header h1 a {
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    text-decoration: none;
}

/*Creates a flex box for the nav container, whose children are the nav ul and li elements*/
.nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 2rem;
    
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 29px;
    
}

/*Adds some stlying to the nav elements when the mous is hovered over them*/

nav ul li a:hover {
    background-color: black;
    border-radius: 10px;
} 

/*Short bio styling goes here*/

#about-me {
    color: white;
   /* margin: 20px;*/
   /* padding: 10px;*/ 
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 2rem;
    
}


#about-me h2{
    border-bottom: 2px;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    
}

#about-me img {
    border: 2px solid white;
   /* padding: 10px;
    margin: 20px; */
}
#about-me ul {
    
    border-bottom:  2px;
    padding-bottom: 25px; 
    margin-bottom: 30px;
    
}
.bio {
    padding:10px;
    font-size: 18px;
    
}
#my-work {

    padding: 10px;
    color: white;
    border-bottom: 2px solid white;
    margin-left: 45px;
    display: flex;
    gap: 6rem;
}

#my-work h3 {
    border-bottom: 2px solid White;
}

.web-applications {
    display: flex;
    
}   

.web-applications-children {
    flex-wrap: wrap;
    flex: 1;
}

.works img {
    border: 2px solid white;
    opacity: 0.6;

}

.works img:hover {
    opacity: 1;
    
}



#contact-me {
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.contact {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.contact a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}

.contact a:hover{
    background-color: black;
    border-radius: 10px;
    
}

/* MEDIA QUERY FOR TABLETS AND SMALLER SCREENS*/
/*Warning these values are just placeholders until I have a better idea of what the initial layout of the page will be*/

@media screen and (max-width: 768px) {
    
    
    header {
    position:relative;
    width: 200%;
    }
    .nav {
        
        flex-direction: column;
        gap: 0rem;
        
    }

    #my-work {
        width: 200%;
        gap: 0.5rem;
        flex-direction: column;
        
    }
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {

}